
@{
    ViewBag.Title = "Home Page";
}

@section head{
    
    <script>
        $(document).ready(function () {
            $('#orders').DataTable();
        });
    </script>
    
    }

<div class="jumbotron">
    <h1></h1>
    
</div>

<div class="row">
    <div class="col-md-12">
        <table id="orders" class="table table-bordered table-striped" >
            <thead>
                <tr>
                    <th>
                        Order #
                    </th>
                    <th>
                        Client
                    </th>
                    <th>
                        Payment Date
                    </th>
                    <th>
                        Shipping Carrier
                    </th>
                    <th>
                        Tracking #
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Items
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Ari_ReportProject.SC.OrderData> orders = ViewBag.orders;
                }
                @foreach (var item in orders)
                {
                    <tr>
                        <td>
                            @item.Order.ID
                        </td>
                        <td>
                            @(item.ClientUser.FirstName + " " + item.ClientUser.LastName)
                        </td>
                        <td>
                            @item.Order.TimeOfOrder.ToString();
                        </td>
                        <td>
                            @item.Order.ShippingCarrier
                        </td>
                        <td>
                            @item.Order.TrackingNumber
                        </td>
                        <td>
                            @item.Order.StatusName
                        </td>
                        <td>
                            @foreach (var p in item.Order.Items)
                            {
                                @p.ProductID
                                <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>